@import '@/assets/scss/themes.scss';

.app-countdown-time {
  font-size: 600%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid;
  box-sizing: border-box;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
    border-color: themed('textColor');
  }

  animation: app-countdown-time-animation 1s ease alternate;
}

@keyframes app-countdown-time-animation {
  0% {
    border: 100px solid;
  }
  100% {
    border: 10px solid;
  }
}
