.app-navigation-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--default-navbar-height);
  border-bottom: var(--default-border-width) solid var(--color-brand-translucent);
  background-color: var(--color-brand-translucent-2);
  backdrop-filter: var(--default-filter-blur);
  -webkit-backdrop-filter: var(--default-filter-blur);
  padding-top: env(safe-area-inset-top, 0px);
  padding-left: env(safe-area-inset-left, 0px);
}

.nav {
  padding: 0 var(--default-padding) 0 var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav > * {
  margin-right: var(--default-padding);
}
