@import '@/assets/scss/variables';

.app-navigation-bar {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: var($--theme-secondary);
  border-bottom: 5px solid var($--theme-primary);
}

.app-navigation-bar > .nav > .nav-logo {
  color: var($--theme-text);
}
