@font-face {
  font-family: 'things digital';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/static/fonts/things-digital.font.ttf') format('truetype');
}

@font-face {
  font-family: 'barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/static/fonts/barlow.font.ttf') format('truetype');
}
