@import 'wingcss';
@import 'palettes.scss';
@import 'properties.scss';

/* Body */
body {
  margin: 0;
  transition: background-color 500ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-mono-1);
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: --color-brand;
}

/* Selection */
::selection {
  color: var(--color-mono-1);
  background-color: var(--color-brand);
}

/* Forms */
form {
  padding: var(--default-padding);
}

/* Inputs */
input {
  color: var(--color-text);
  border: none !important;
  border-radius: var(--default-radius) !important;
  background-color: var(--color-mono-translucent);
}

input:hover {
  background-color: var(--color-mono-translucent-2);
}

input:focus {
  background-color: var(--color-brand-translucent) !important;
}

input:focus,
input:focus-visible {
  outline: none;
  background-color: var(--color-mono-translucent-2);
}

input:invalid {
  background-color: var(--color-error-translucent) !important;
}

/* Buttons */
button {
  color: var(--color-mono-1) !important;
  border-radius: var(--default-radius) !important;
  background-color: var(--color-text) !important;
}
