@import 'wingcss';
@import 'palettes.scss';
@import 'properties.scss';

/* Body */
body {
  margin: 0;
  transition: background-color 500ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-mono-1);
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: --color-brand;
}

/* Selection */
::selection {
  color: var(--color-mono-1);
  background-color: var(--color-brand);
}

/* Forms */
form {
  padding: var(--default-padding);
}

/* Inputs */
input {
  color: var(--color-text);
  border: var(--default-border-width) solid !important;
  border-right: calc(var(--default-border-width) * 4) solid !important;
  border-radius: 0 !important;
  border-color: var(--color-brand) !important;
  background-color: var(--color-mono-translucent-1);
}

input:hover {
  background-color: var(--color-brand-translucent);
}

input:focus {
  background-color: var(--color-brand-translucent);
}

input:focus,
input:focus-visible {
  outline: none;
  background-color: var(--color-brand-translucent);
}

input:invalid {
  border-color: var(--color-error) !important;
  background-color: var(--color-error-translucent);
}

/* Buttons */
button {
  color: var(--color-mono-1) !important;
  border-radius: 0 !important;
  background-color: var(--color-brand) !important;
}

button:hover {
  color: var(--color-brand) !important;
  background-color: var(--color-mono-1) !important;
}
