@import 'mini.css';
@import 'themes.scss';

body {
  margin: 0;
  transition: background-color 500ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var($--theme-primary);
}

// Selection
::selection {
  color: var($--theme-background);
  background-color: var($--theme-primary);
}
