@import 'themes.scss';

body {
  margin: 0;
  transition: background-color 500ms ease-out;
  font-family: Arial, Helvetica, sans-serif;

  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include themify($themes) {
    color: themed('primary');
  }
}
