@import 'wingcss';
@import 'properties.scss';

body {
  margin: 0;
  transition: background-color 500ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
  color: var($--theme-text);
  background-color: var($--theme-background);
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var($--theme-primary);
}

// Selection
::selection {
  color: var($--theme-background);
  background-color: var($--theme-primary);
}

// Form
form {
  padding: var($--defaults-padding);
}

// Input
input {
  color: var($--theme-text);
  background-color: var($--theme-background);
}

input:hover {
  border-color: var($--theme-background-contrast) !important;
}

input:focus {
  border-color: var($--theme-primary) !important;
}

input:focus-visible {
  outline: none;
  border-width: var($--defaults-border-thick);
  border-color: var($--theme-primary) !important;
}

input:invalid {
  border-style: dashed;
  border-color: var($--theme-error);
}

// Button
button {
  color: var($--theme-background) !important;
  background-color: var($--theme-text) !important;
}
