/* Root */
:root {
  /* General colors */
  --color-brand-hsl: 50, 60%, 50%;
  --color-brand-hsl-alt: 230, 50%, 20%;
  --color-error-hsl: 0, 100%, 50%;

  /* Palette: default */

  /* Colors */
  --color-brand: hsl(var(--color-brand-hsl));
  --color-brand-alt: hsl(var(--color-brand-hsl-alt));
  --color-brand-translucent: hsla(var(--color-brand-hsl), 0.3);
  --color-error: hsl(var(--color-error-hsl));
  --color-error-translucent: hsla(var(--color-error-hsl), 0.3);

  /* Greyscale shades */
  --color-mono-1: #d5d5d5;
  --color-mono-2: #f7f7f7;
  --color-mono-3: #636363;
  --color-mono-translucent: #63636320;
  --color-mono-translucent-2: #63636340;
  --color-text: #000000;
}

/* Color schemes */
[color-scheme='light'] {
  --color-mono-1: #d5d5d5;
  --color-mono-2: #f7f7f7;
  --color-mono-3: #636363;
  --color-mono-translucent: #63636320;
  --color-mono-translucent-2: #63636340;
  --color-text: #000000;
}

[color-scheme='dark'] {
  --color-mono-1: #020014;
  --color-mono-2: #353535;
  --color-mono-3: #e2e2e2;
  --color-mono-translucent: #e2e2e220;
  --color-mono-translucent-2: #e2e2e240;
  --color-text: #d6d6d6;
}
