@import 'variables.scss';

// Overwriting theme: light
$theme-map-light: (
  // Custom variables
  $--theme-text: $light-text,
  $--theme-primary: $light-primary,
  $--theme-secondary: $light-secondary,
  $--theme-background: $light-background,
  //Custom mini.css variables
  $--back-color: $light-background,
  $--fore-color: $light-text,
  $--form-fore-color: $light-text,
  $--form-back-color: $light-background,
  $--form-border-color: $light-background-contrast,
  $--input-fore-color: $light-text,
  $--input-back-color: $light-background,
  $--input-border-color: $light-background-contrast
);

// Overwriting theme: dark
$theme-map-dark: (
  // Custom variables
  $--theme-text: $dark-text,
  $--theme-primary: $dark-primary,
  $--theme-secondary: $dark-secondary,
  $--theme-background: $dark-background,
  //Custom mini.css variables
  $--back-color: $dark-background,
  $--fore-color: $dark-text,
  $--form-fore-color: $dark-text,
  $--form-back-color: $dark-background,
  $--form-border-color: $dark-background-contrast,
  $--input-fore-color: $dark-text,
  $--input-back-color: $dark-background,
  $--input-border-color: $dark-background-contrast
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

:root.app-theme-light {
  @include spread-map($theme-map-light);
}
:root.app-theme-dark {
  @include spread-map($theme-map-dark);
}
