// Custom theme properties
$--theme-text: --theme-text;
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-background: --theme-background;
$--theme-background-raised: --theme-background-raised;
$--theme-background-contrast: --theme-background-contrast;

// Theme variable definitions
$light-primary: #d75893;
$light-secondary: #d75893;
$light-text: #000;
$light-background: #e6e6e6;
$light-background-raised: #f7f7f7;
$light-background-contrast: #ffffff;

$dark-text: #d6d6d6;
$dark-primary: #d75893;
$dark-secondary: #d75893;
$dark-background: #1e1e1e;
$dark-background-raised: #353535;
$dark-background-contrast: #505050;

// Default value variables
$--defaults-padding: --defaults-padding;
$--defaults-border: --defaults-border;
$--defaults-border-thick: --defaults-border-thick;

$default-padding: 10px;
$default-border: 1px;
$default-border-thick: 2px;
