// Custom theme properties
$--theme-text: --theme-text;
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-error: --theme-error;
$--theme-background: --theme-background;
$--theme-background-raised: --theme-background-raised;
$--theme-background-contrast: --theme-background-contrast;

// Theme variable definitions
$light-primary: #367f76;
$light-secondary: #ffffff;
$light-error: #a00023;
$light-text: #000;
$light-background: #d5d5d5;
$light-background-raised: #f7f7f7;
$light-background-contrast: #636363;

$dark-text: #d6d6d6;
$dark-primary: #184e47;
$dark-secondary: #2b2b2b;
$dark-error: #a00023;
$dark-background: #101010;
$dark-background-raised: #353535;
$dark-background-contrast: #e2e2e2;

// Default value variables
$--defaults-padding: --defaults-padding;
$--defaults-border: --defaults-border;
$--defaults-border-thick: --defaults-border-thick;

$default-padding: 10px;
$default-border: 1px;
$default-border-thick: 2px;
