{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./.webpack/configuration.webpack.js",
        "env": {
          "NODE_ENV": "development"
        }
      }
    }
  },
  "extends": ["airbnb", "prettier", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "react", "import", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": "off",
    "react/prop-types": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["src/**/*.spec.jsx", "**/*.script.jsx"]
      }
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExportDefaultDeclaration",
        "message": "Prefer named exports"
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "no-underscore-dangle": "off",
    "react/destructuring-assignment": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "func-names": "off",
    "react/react-in-jsx-scope": "off",
    "no-shadow": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-empty-function": "off"
  }
}
