@import '@/assets/scss/themes.scss';

.app-chat-input {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  border-radius: $default-radius;
  height: 25px;
  max-height: 25px;
}

.app-chat-input input[type='text'] {
  text-decoration: none;
  border: none;
  outline: none;

  @include themify($themes) {
    color: themed('backgroundColor');
    background-color: themed('textColor');
  }
}

.app-chat-input input[type='submit'] {
  border-radius: 0 $default-radius $default-radius 0;
  text-decoration: none;
  border: none;
  outline: none;
}

.app-chat-input input[type='submit']:hover {
  background-color: $info-color;
}

.app-chat-input input[type='submit']:focus {
  background-color: $info-color;
}
