.app-content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app-content-wrapper-inner {
  max-width: 960px;
  width: 100%;
  display: block;
  padding: var(--default-padding);
}

.app-content-wrapper-with-navbar {
  margin-top: var(--default-navbar-height);
}
