@import '@/assets/scss/themes.scss';

.app-chat-bubble {
  margin: 2px;
  padding: 6px;
  border-radius: $default-radius;
  background-color: $info-color;
  color: #000000;
  max-width: 80%;
  animation: app-chat-popin 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  display: flex;
  flex-direction: column;
}

.app-chat-bubble-received {
  @include themify($themes) {
    color: themed('backgroundColor');
    background-color: themed('textColor');
  }
}

@keyframes app-chat-popin {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.app-chat-bubble-name {
  min-width: 100%;
  font-size: 70%;
  opacity: 0.77;
  text-align: end;
  user-select: none;
}

.app-chat-bubble-received .app-chat-bubble-name {
  text-align: start;
}
