@import '@/assets/scss/themes.scss';

.app-post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-post {
  border: 1px solid;
  border-radius: 6px;
  padding: 6px;
  text-transform: capitalize;
  margin: 5px;
  transition: transform 0.2s;
  width: 80%;

  animation-name: app-fresh-post;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

  @include themify($themes) {
    color: themed('backgroundColor');
    background-color: themed('textColor');
  }
}

.app-post:hover {
  transform: scale(1.2);
  z-index: $z-index-higher;
}

.app-post:hover b {
  text-decoration-line: underline;
}

@keyframes app-fresh-post {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
